.custom-modal {

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auxbutton {
  color: white;
  background-color: rgba(199,0,42,0.6);
}

.auxbutton:hover {
  background-color: rgba(199,0,42,0.75);
}

.investperyear {
  height: 104px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.reinvest {
  height: 58px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grantperyear {
  height: 75px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.visible {
  display: block;
}

.form-control-sm {
  font-size: 0.9rem;
}

.investCol {
  padding-right: 5px;
}
