<div id="investment" class="modal" tabindex="-1" role="dialog" aria-labelledby="investmentModalLabel" aria-hidden="true" [ngClass]="{'visible': open}">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="investmentModalLabel">Investition bearbeiten</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="name" class="col-3 col-form-label">Bezeichnung:</label>
            <div class="col-4">
              <input type="text" class="form-control" id="name" [(ngModel)]="investment.name" name="name">
            </div>
            <label for="project" class="col-2 col-form-label">Projekt-Nr.:</label>
            <div class="col-3">
              <input type="text" class="form-control" id="project" [(ngModel)]="investment.projectNr" name="proj">
            </div>
          </div>
          <div class="form-group row">
            <label for="total" class="col-3 col-form-label">Genehmigte Investition:</label>
            <div class="col-2">
              <input type="number" class="form-control font-weight-bold text-right" id="total" [(ngModel)]="investment.total" name="tot">
            </div>
            <div class="col-1"></div>
            <label for="total" class="col-3 col-form-label">Effektive Investition:</label>
            <div class="col-2">
              <input type="number" class="form-control font-weight-bold text-right" id="totalCorr" [(ngModel)]="investment.totalCorr" name="totCorr">
            </div>
          </div>

          <div class="form-group row">
            <label for="category" class="col-3 col-form-label">Anlagekategorie:</label>
            <div class="col-3">
              <select [(ngModel)]="selectedCategory" name="cat" class="form-control" id="category">
                <option *ngFor="let category of getCategories()" [ngValue]="category">{{category.name}} {{category.rate}}%</option>
              </select>
            </div>
            <label class="col-1 col-form-label">Jahre:</label>
            <label class="col-1 col-form-label">{{calcYears() | number:'0.0-2'}}</label>
            <label class="col-2 col-form-label">Abschr./Jahr:</label>
            <label class="col-1 col-form-label">{{calcWriteoffPerYear() | money}}</label>
          </div>

          <div class="form-group row">
            <label class="col-12 col-form-label">Teilzahlungen nach Jahr:</label>
          </div>

          <div class="investperyear">

            <div class="form-group row" *ngFor="let investmentYear of investment.investmentYears; let idx = index">
              <div class="col-2">
                <select [(ngModel)]="investmentYear.year" class="form-control" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let year of getCoupleOfYears(idx)" [ngValue]="year">{{year}}</option>
                </select>
              </div>
              <div class="col-2">
                <input type="number" class="form-control font-weight-bold text-right" [(ngModel)]="investmentYear.invest" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-secondary" (click)="removeInvestmentYear(investmentYear)">-</button>
              </div>
            </div>

            <div class="row">
              <div class="col-1">
                <button type="button" class="btn btn-secondary" (click)="addInvestmentYear()">+</button>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Abbrechen</button>
        <button type="button" class="btn auxbutton" (click)="save()">Speichern</button>
      </div>
    </div>
  </div>
</div>
