<div id="investment" class="modal m-1 p-1" tabindex="-1" role="dialog" aria-labelledby="investmentModalLabel" aria-hidden="true" [ngClass]="{'visible': open}">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="investmentModalLabel">Investition</h5>
      </div>
      <div class="modal-body pb-0">
        <form>
          <div class="row mb-2">
            <label for="name" class="col-3 col-form-label">Bezeichnung:</label>
            <div class="col-3">
              <input type="text" class="form-control form-control-sm" id="name" [(ngModel)]="_investment.name" name="name">
            </div>
            <label for="project" class="col-2 col-form-label">Projekt-Nr.:</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" id="project" [(ngModel)]="_investment.projectNr" name="proj" (blur)="changedProjectNr()">
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-3 col-form-label">Genehmigte Investition:</label>
            <div class="col-2">
              <inlineedit [(value)]="_investment.total" [inThousand]="false" [tableStyle]="false"></inlineedit>
            </div>
            <div class="col-1"></div>
            <label for="special" class="col-2 col-form-label">Spezialfinanzierung:</label>
            <div class="col-4">
              <select [(ngModel)]="selectedSpecial" name="cat" class="form-control form-control-sm" id="special">
                <option *ngFor="let special of getSpecials()" [ngValue]="special">{{special.name}}</option>
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-3 col-form-label">Effektive Investition:</label>
            <div class="col-2">
              <inlineedit [(value)]="_investment.totalCorr" [inThousand]="false" [tableStyle]="false"></inlineedit>
            </div>
            <div class="col-1"></div>
            <label for="category" class="col-2 col-form-label">Anlagekategorie:</label>
            <div class="col-4">
              <select [(ngModel)]="selectedCategory" name="cat" class="form-control form-control-sm" id="category">
                <option *ngFor="let category of getCategories()" [ngValue]="category">{{category.name}} {{category.rate}}%</option>
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-3 col-form-label">Deinvestition/Verkauf:</label>
            <div class="col-2">
              <inlineedit [(value)]="_investment.deinvestment" [inThousand]="false" [tableStyle]="false"></inlineedit>
            </div>
            <div class="col-1"></div>
            <label class="col-1 col-form-label">Jahre:</label>
            <label class="col-1 col-form-label">{{calcYears() | number:'0.0-2'}}</label>
            <label class="col-2 col-form-label">Abschr./Jahr:</label>
            <label class="col-1 col-form-label" style="margin-left: -50px">{{calcWriteoffPerYear() | money:1}}</label>
          </div>

          <div class="row mb-2 mt-5 border-top">

            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <h6 class="col-form-label investCol">Teilzahlungen nach Jahr:</h6>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-5 investCol">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Verschieben
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let moveOption of getMoveOptions(); let idx = index" class="dropdown-item" (click)="selectMoveOption(idx)">{{moveOption}}</a>
                  </div>
                </div>
              </div>
              <div class="investperyear mb-3">
                <div class="row mb-3" *ngFor="let investmentYear of _investment.investmentYears; let idx = index">
                  <div class="col-5 investCol">
                    <select [(ngModel)]="investmentYear.year" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let year of getCoupleOfYears(idx)" [ngValue]="year">{{year}}</option>
                    </select>
                  </div>
                  <div class="col-5 investCol">
                    <inlineedit [value]="investmentYear.invest" (valueChange)="changedInvestValue($event, investmentYear)" [inThousand]="false" [tableStyle]="false"></inlineedit>
                  </div>
                  <div class="col-2 investCol">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="removeInvestmentYear(investmentYear)">-</button>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 investCol">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="addInvestmentYear()">+</button>
                  </div>
                </div>
              </div>

              <h6 class="row col-12 col-form-label investCol border-top">Reinvestitionen indexbereinigt:</h6>
              <div class="row mb-3">
                <div class="col-5 investCol">
                  <button [disabled]="!reinvestmentsActive" class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="indexMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Anzahl Reinvestitionen
                  </button>
                  <div class="dropdown-menu" aria-labelledby="indexMenuButton">
                    <a class="dropdown-item" (click)="selectReinvestmentCount(0)">0</a>
                    <a class="dropdown-item" (click)="selectReinvestmentCount(1)">1</a>
                    <a class="dropdown-item" (click)="selectReinvestmentCount(2)">2</a>
                    <a class="dropdown-item" (click)="selectReinvestmentCount(3)">3</a>
                    <a class="dropdown-item" (click)="selectReinvestmentCount(4)">4</a>
                    <a class="dropdown-item" (click)="selectReinvestmentCount(5)">5</a>
                  </div>
                </div>
              </div>
              <div class="reinvest">
                <div class="row mb-3" *ngFor="let reinvest of reinvestments">
                  <div class="col-12 investCol">
                    {{reinvest}}
                  </div>
                  <!--<div class="col-2 investCol">-->
                    <!--<button type="button" class="btn btn-secondary btn-sm">*</button>-->
                  <!--</div>-->
                </div>
              </div>

            </div>

            <div class="col-6 border-left">

              <h6 class="row col-12 col-form-label investCol">Subventionen Bund:</h6>
              <div class="row mb-3">
                <label class="col-2 col-form-label investCol">geplant</label>
                <div class="col-2 investCol">
                  <inlineedit [(value)]="_investment.grantFederal" [inThousand]="false" [tableStyle]="false"></inlineedit>
                </div>
                <label class="col-4 col-form-label investCol">%&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;{{calcGrantFederal() | money:1}}</label>
              </div>
              <div class="grantperyear mb-3">
                <div class="row mb-3" *ngFor="let grantYear of _investment.grantYearsFederal; let idx = index">
                  <div class="col-2 investCol">
                    <label *ngIf="idx == 0" class="col-form-label investCol">effektiv</label>
                  </div>
                  <div class="col-4 investCol">
                    <select [(ngModel)]="grantYear.year" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let year of getCoupleOfYears(idx, 'federal')" [ngValue]="year">{{year}}</option>
                    </select>
                  </div>
                  <div class="col-4 investCol">
                    <inlineedit [(value)]="grantYear.grant" [inThousand]="false" [tableStyle]="false"></inlineedit>
                  </div>
                  <div class="col-2 investCol">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="removeGrantYear(grantYear, 'federal')">-</button>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 investCol">
                    <label *ngIf="_investment.grantYearsFederal.length == 0" class="col-form-label investCol">effektiv</label>
                  </div>
                  <div class="col-2 investCol">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="addGrantYear('federal')">+</button>
                  </div>
                </div>
              </div>


              <h6 class="row col-12 col-form-label investCol border-top">Subventionen Kanton:</h6>
              <div class="row mb-3">
                <label class="col-2 col-form-label investCol">geplant</label>
                <div class="col-2 investCol">
                  <inlineedit [(value)]="_investment.grantCanton" [inThousand]="false" [tableStyle]="false"></inlineedit>
                </div>
                <label class="col-4 col-form-label investCol">%&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;{{calcGrantCanton() | money:1}}</label>
              </div>
              <div class="grantperyear">
                <div class="row mb-3" *ngFor="let grantYear of _investment.grantYearsCanton; let idx = index">
                  <div class="col-2 investCol">
                    <label *ngIf="idx == 0" class="col-form-label investCol">effektiv</label>
                  </div>
                  <div class="col-4 investCol">
                    <select [(ngModel)]="grantYear.year" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let year of getCoupleOfYears(idx, 'canton')" [ngValue]="year">{{year}}</option>
                    </select>
                  </div>
                  <div class="col-4 investCol">
                    <inlineedit [(value)]="grantYear.grant" [inThousand]="false" [tableStyle]="false"></inlineedit>
                  </div>
                  <div class="col-2 investCol">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="removeGrantYear(grantYear, 'canton')">-</button>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 investCol">
                    <label *ngIf="_investment.grantYearsCanton.length == 0" class="col-form-label investCol">effektiv</label>
                  </div>
                  <div class="col-2 investCol">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="addGrantYear('canton')">+</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm mr-auto" (click)="delete()">Löschen</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="close()">Abbrechen</button>
        <button type="button" class="btn auxbutton btn-sm" (click)="save()">Speichern</button>
      </div>
    </div>
  </div>
</div>
