<div *ngIf="isVersionInitialized()" class="table-wrapper">
  <table id="maintable" class="table table-sm">
    <thead>
      <!-- Jahr -->
      <tr>
        <th class="sticky-col1 sticky-header">Jahr</th>
        <th class="sticky-col2 sticky-header">Bestände Planung</th>
        <th class="text-center" style="min-width: 100px" *ngFor="let year of getYears()">{{year}}</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ordentliche Einnahmen -->
      <tr>
        <td class="sticky-col1">Steuervolumen</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let inoutcome of getInoutcomes()">
          <inlineedit [value]="inoutcome.taxvolume" (valueChange)="changedTaxVolume($event, inoutcome)"></inlineedit>
        </td>
      </tr>
      <tr>
        <td class="sticky-col1">Steueranlage</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let inoutcome of getInoutcomes()">
          <inlineedit [value]="inoutcome.taxrate" (valueChange)="changedTaxrate($event, inoutcome)" [inThousand]="false"></inlineedit>
          <!--<input type="number" class="text-right" [(ngModel)]="inoutcome.taxrate" (blur)="changedTaxrate(inoutcome)">-->
        </td>
      </tr>
      <tr>
        <td class="sticky-col1">Steuereinkommen</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let inoutcome of getInoutcomes()" class="text-right">{{inoutcome.income | money}}</td>
      </tr>
      <!-- Ordentliche Ausgaben -->
      <tr>
        <td class="sticky-col1">Betriebsaufwände</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let inoutcome of getInoutcomes()">
          <inlineedit [value]="inoutcome.outcome" (valueChange)="editOutcome($event, inoutcome)"></inlineedit>
        </td>
      </tr>
      <!-- Balance -->
      <tr class="balance">
        <th class="sticky-col1">Überschuss/Fehlbetrag aus laufender Rechnung</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" [ngClass]="{'negative-value': balance.value<0}" *ngFor="let balance of getBalanceAfterOutcome()">{{balance.value | money }}</td>
      </tr>
      <!-- Flüssige Mittel aus Vorjahr -->
      <tr>
        <td class="sticky-col1">Bestand flüssige Mittel aus ende Vorjahr (31.12.XXXX)</td>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right table-info" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Übertragen sie hier ihren Saldo Liquiditätsbestand per 31.12.2017">
          <inlineedit [(value)]="getLiquidityStart().liquidity"></inlineedit>
        </td>
        <td class="text-right" [ngClass]="{'negative-value': liquidity<0}" *ngFor="let liquidity of getLiquidityOfLastYear()">{{liquidity | money}}</td>
      </tr>
      <!-- Fremdkapital -->
      <tr>
        <td class="sticky-col1">Aufnahme / Rückzahlung Fremdkapital</td>
        <td class="sticky-col2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Übertragen sie hier ihr Total an Fremdkapital">
          <inlineedit [(value)]="getForeignContainer().foreignValue"></inlineedit>
        </td>
        <td class="text-right" *ngFor="let payback of getForeignContainer().foreignPayback">
          <inlineedit [value]="payback.payback" (valueChange)="editPayback($event, payback)"></inlineedit>
        </td>
      </tr>

      <!-- Total Liq vor Abschreibung -->
      <tr class="balance">
        <th class="sticky-col1">Total Liquiditätsbestand vor Abschreibungen</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" [ngClass]="{'negative-value': balance.value<0}" *ngFor="let balance of getBalanceBeforeWriteoff()">{{balance.value | money}}</td>
      </tr>

      <!-- Investitionen Abschreibungen -->
      <tr class="table-secondary">
        <th class="sticky-col1">Investitionen und Abschreibungen</th>
        <td class="sticky-col2">
          <button type="button" class="btn btn-secondary btn-sm new-button" (click)="newInvestment()">+</button>
        </td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()"></td>
      </tr>

      <ng-container *ngFor="let investmentCategory of getInvestmentCategories()">
        <tr>
          <td class="sticky-col1" (click)="toggleInvestmentCategory(investmentCategory)">
            <div class="row">
              <div class="col-11">
                <span>
                  <span *ngIf="!investmentCategory.show" style="width: 12px">&#x2B9E;</span>
                  <span *ngIf="investmentCategory.show" style="width: 12px">&#x2B9F;</span>
                </span>
                <span style="margin-left: 10px">{{investmentCategory.name}}
                  <span style="left: 370px;position: absolute">
                    <b>{{investmentCategory.rate}}%</b>
                  </span>
                </span>
              </div>
            </div>
          </td>
          <td class="sticky-col2">&#xa0;</td>
          <td class="text-right" *ngFor="let taxoff of getTaxoffsByCategory(investmentCategory)">{{taxoff | money}}</td>
        </tr>
        <ng-container *ngIf="investmentCategory.show">
          <tr *ngFor="let investment of getInvestmentsByRate(investmentCategory.rate)">
            <td class="sticky-col1"><span style="margin-left: 25px">{{investment.name}}    (Projekt-Nr: {{investment.projectNr}})</span></td>
            <td class="sticky-col2">
              <button type="button" class="btn btn-secondary btn-sm edit-button" (click)="editInvestment(investment)">&#x270E;</button>
            </td>
            <td class="text-right" *ngFor="let taxoff of getTaxoffsByYear(investment)">{{taxoff | money}}</td>
          </tr>
        </ng-container>
      </ng-container>

      <!-- Abschreibungen HRM 1-->
      <tr>
        <td class="sticky-col1"><span><i>HRM1 Verwaltungsvermögen per 31.12.2017</i> <span style="left: 360px;position: absolute"><b>10%</b></span></span></td>
        <td class="sticky-col2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Übertragen sie hier ihr Total an Investitionen nach HRM1 per 31.12.2017">
          <inlineedit [(value)]="getInvestmentHRM1Container().value"></inlineedit>
        </td>
        <td class="text-right" *ngFor="let taxoff of getTaxoffsHRM1ByYear()">{{taxoff | money}}</td>
      </tr>


      <!--zusätzliche Abschreibungen nach HRM2 (finanzpolitische Reserve)-->
      <tr>
        <td class="sticky-col1">zusätzliche Abschreibungen nach HRM2 (finanzpolitische Reserve)</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let addTaxoff of getAdditionalTaxoffs()">
          <inlineedit [(value)]="addTaxoff.taxoff"></inlineedit>
        </td>
      </tr>

      <!-- Total Abschreibung -->
      <tr class="balance">
        <th class="sticky-col1">Total Abschreibungen pro Jahr</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" [ngClass]="{'negative-value': taxoff<0}" *ngFor="let taxoff of getTaxoffsTotal()">{{taxoff | money}}</td>
      </tr>

      <!-- Total Liquiditätszufluss -Abfluss aus Rechnung (Cash flow) -->
      <tr class="balance">
        <th class="sticky-col1">Total Liquiditätszufluss -Abfluss aus Rechnung (Cash flow)</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" [ngClass]="{'negative-value': balance.value<0}" *ngFor="let balance of getBalanceAfterWriteoff()">{{balance.value | money}}</td>
      </tr>

      <!-- Total Ausgaben Investitionen (Liquiditätsabfluss) -->
      <tr class="balance">
        <th class="sticky-col1">Total Ausgaben Investitionen (Liquiditätsabfluss)</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" [ngClass]="{'negative-value': investment<0}" *ngFor="let investment of getInvestmentsTotal()">{{investment | money}}</td>
      </tr>

      <!-- Subventionen -->
      <tr class>
        <th class="sticky-col1">Subventionen</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let grant of getGrants()">{{grant | money}}</td>
      </tr>

      <!-- Liquiditätsbestand Total Ende Jahr -->
      <tr class="balance">
        <th class="sticky-col1">Liquiditätsbestand Total Ende Jahr</th>
        <td class="sticky-col2">&#xa0;</td>
        <th class="text-right" [ngClass]="{'negative-value': balance.value<0, 'positive-value': balance.value>=0}" *ngFor="let balance of getBalanceAfterInvestments()">{{balance.value | money}}</th>
      </tr>


      <!--Abzüglich zweckgebundene Reserve (finanzpolitische Reserve-->
      <tr>
        <td class="sticky-col1">Abzüglich zweckgebundene Reserve (finanzpolitische Reserve)</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let reserve of getReserves()">
          <inlineedit [(value)]="reserve.reserve"></inlineedit>
        </td>
      </tr>

      <!-- Verfügbare Liquidität -->
      <tr class="balance">
        <th class="sticky-col1">Verfügbare Liquidität</th>
        <td class="sticky-col2">&#xa0;</td>
        <th class="text-right" [ngClass]="{'negative-value': balance.value<0, 'positive-value': balance.value>=0}" *ngFor="let balance of getBalanceAfterReserves()">{{balance.value | money}}</th>
      </tr>

    </tbody>
  </table>

  <app-investment (closed)="onClosed()" [open]="showInvestment" [investment]="selectedInvestment"></app-investment>

</div>
