.sticky-col1 {
  position: absolute;
  top: auto;
  width: 410px;
  left: 25px;
}

.sticky-col2 {
  position: absolute;
  top: auto;
  width: 120px;
  left: 435px;
  border-right: solid 1px lightgrey;
}

.sticky-header {
  height: 32px;
}

.table-wrapper {
  margin-left: 540px;
  overflow-x: auto;
}

.negative-value {
  color: red;
}

.positive-value {
  color: green;
}

.balance > th, .balance > td {
  background-color: rgba(199,0,42,0.15);
}

table {
  margin-left: -10px;
}

td, th {
  height: 30px;
}
