<script src="maintable.component.spec.ts"></script>
<div class="table-wrapper">
  <table class="table table-sm">
    <thead>
      <!-- Jahr -->
      <tr>
        <th class="sticky-col1">Jahr</th>
        <th class="sticky-col2">Bestände Planung</th>
        <th class="text-center" style="min-width: 80px" *ngFor="let year of getYears()">{{year}}</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ordentliche Einnahmen -->
      <tr>
        <td class="sticky-col1">Ertrag</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let inoutcome of getInoutcomes()">
          <input class="table-input text-right" [(ngModel)]="inoutcome.income" placeholder="Ertrag">
        </td>
      </tr>
      <!-- Ordentliche Ausgaben -->
      <tr>
        <td class="sticky-col1">Aufwand</td>
        <td class="sticky-col2">&#xa0;</td>
        <td *ngFor="let inoutcome of getInoutcomes()">
          <input class="table-input text-right" [(ngModel)]="inoutcome.outcome" placeholder="Aufwand">
        </td>
      </tr>
      <!-- Balance -->
      <tr class="table-warning">
        <th class="sticky-col1">Überschuss/Fehlbetrag aus laufender Rechnung</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
      </tr>
      <!-- Flüssige Mittel aus Vorjahr -->
      <tr>
        <td class="sticky-col1">Bestand flüssige Mittel aus Vorjahr</td>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
      </tr>
      <!-- Fremdkapital -->
      <tr>
        <td class="sticky-col1">Aufnahme / Rückzahlung Fremdkapital</td>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
      </tr>

      <tr>
        <th>&#xa0;</th>
      </tr>

      <!-- Total Liq vor Abschreibung -->
      <tr class="table-warning">
        <th class="sticky-col1">Total Liquiditätsbestand vor Abschreibungen</th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
      </tr>

      <tr>
        <th>&#xa0;</th>
      </tr>

      <!-- Investitionen Abschreibungen -->
      <tr class="table-secondary">
        <th class="sticky-col1">Steuerhaushalt
          <button (click)="newInvestment()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">+</span>
          </button>
        </th>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
      </tr>

      <ng-container *ngFor="let investmentCategory of getInvestmentCategories()">
        <tr>
          <td class="sticky-col1" (click)="toggleInvestmentCategory(investmentCategory)">
            <div class="row">
              <div class="col-11"><span>+</span><span style="margin-left: 10px">{{investmentCategory.name}}</span></div>
              <div class="col-1">({{investmentCategory.rate}}%)</div>
            </div>
          </td>
          <td class="sticky-col2">&#xa0;</td>
          <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
        </tr>
        <ng-container *ngIf="investmentCategory.show">
          <tr *ngFor="let investment of getInvestmentsByRate(investmentCategory.rate)">
            <td class="sticky-col1">{{investment.name}}
              <button (click)="editInvestment(investment)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&#x270E;</span>
              </button>
            </td>
            <td class="sticky-col2">Abschreibungen</td>
            <td class="text-right" *ngFor="let taxoff of getTaxoffsByYear(investment)">{{taxoff}}
            </td>
          </tr>
        </ng-container>
      </ng-container>


      <tr>
        <td class="sticky-col1"><i>alt HRM1 Verwaltungsvermögen allgemein</i></td>
        <td class="sticky-col2">&#xa0;</td>
        <td class="text-right" *ngFor="let inoutcome of getInoutcomes()">{{calc(inoutcome)}}</td>
      </tr>

    </tbody>
  </table>

  <app-investment (closed)="onClosed()" [open]="showInvestment" [investment]="selectedInvestment"></app-investment>

</div>
