.sticky-col1 {
  position: absolute;
  top: auto;
  width: 410px;
  left: 25px;
}

.copybutton {
  position: absolute;
  top: 0;
  left: 90px;
}

.sticky-col2 {
  position: absolute;
  top: auto;
  width: 120px;
  left: 435px;
  border-right: solid 1px lightgrey;
}

.sticky-header {
  height: 32px;
}

.table-wrapper {
  margin-left: 540px;
  overflow-x: auto;
}

.negative-value {
  color: red;
}

.positive-value {
  color: green;
}

.balance > th, .balance > td {
  background-color: rgba(199,0,42,0.15);
}

table {
  /*margin-left: -10px;*/
}

td, th {
  height: 30px;
  /*padding: 0;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
}

.new-button {
  margin-left: 85px;
  margin-top: -2px;
  padding: 0.1rem 0.5rem;
}

.edit-button {
  margin-left: 85px;
  margin-top: -2px;
  padding: 0.1rem 0.3rem;
}

.floatalert {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 720px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 5000;
  border: 1px solid #7b7b7b
}

.dyntooltip {
  min-width: 400px;
  display: none;
}

.alertbutton {
  width: 110px;
}

.investment-inactive {
  color: #bbbbbb;
}
