<div id="index" class="modal m-1 p-1" tabindex="-1" role="dialog" aria-labelledby="indexModalLabel" aria-hidden="true" [ngClass]="{'visible': open}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="indexModalLabel">Indextabelle</h5>
      </div>
      <div class="modal-body pb-0">
        <form>
          <div class="scrollpane">
            <div class="row mb-2" *ngFor="let index of getIndexes();trackBy:tracker">
              <div class="col-6">{{index.year}}:</div>
              <div class="col-6">
                <inlineedit [(value)]="index.index" [inThousand]="false" [tableStyle]="false"></inlineedit>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-4">
              <button type="button" class="btn btn-secondary btn-sm" (click)="addIndex()">+</button>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn auxbutton btn-sm" (click)="save()">Speichern</button>
      </div>
    </div>
  </div>
</div>
