/* You can add global styles to this file, and also import other style files */
//@import 'bootstrap';

// Global
$spacer: 0.5rem;

// Font
$font-size-base: 0.9rem;
$font-family-sans-serif: 'Calibri light', sans-serif;

// Table
$table-cell-padding:          .6rem !default;
$table-cell-padding-sm:       .25rem !default;

@import "../node_modules/bootstrap/scss/bootstrap";

